@tailwind base;
@tailwind components;
@tailwind utilities;

/*safe area de moviles*/
:root {
  padding-top: env(safe-area-inset-top);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-x: none;
}

html, body {
  overflow-x: clip;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Oculta scrollbars horizontales */
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome/Safari/Android */
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bottom-nav {
  padding-bottom: calc(var(--safe-area-bottom) - 20px);
  height: 80px; /* h-20 */
}

.horizontal-scroll {
  overscroll-behavior-x: contain;
  touch-action: pan-x;
}

.touch-pan {
  touch-action: auto;
}



