@tailwind base;
@tailwind components;
@tailwind utilities;

/*safe area de moviles*/
:root {
  padding-top: env(safe-area-inset-top);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Oculta scrollbars horizontales */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bottom-nav {
  padding-bottom: calc(var(--safe-area-bottom) - 10px);
}

.horizontal-scroller {
  overflow-x: auto;
  overscroll-behavior-x: contain;
}

